@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@1,300&display=swap');

@mixin mainFont {
  font-family: 'Glory', sans-serif;
  font-size: 20px;
  color: white;
}

@mixin fl {
  display: flex;  
}

@mixin fl_col {
  display: flex;
  flex-flow: column;
}

@mixin fl_col_wrap {
  display: flex;
  flex-flow: column wrap;
}

@mixin fl_row {
  display: flex;
  flex-flow: row;
}

@mixin fl_al_center {
  justify-content: center;
  align-items: center;
}

@mixin fl_al_space-btwn {
  justify-content: space-between;
  align-items: center;
}

@mixin fl_al_space-ar {
  justify-content: space-around;
  align-items: center;
}

@mixin fl_al_space-ev {
  justify-content: space-evenly;
  align-items: center;
}

@mixin fl_al_st {
  justify-content: flex-start;
  align-items: center;
}

@mixin fl_al_end {
  justify-content: flex-end;
  align-items: center;
}

.icon {
  width: 100px / 210px * 100%;
}

.main {
  min-width: 205px;
  width: 350px / 1920px * 100%;
  @include fl_col();
  @include mainFont();
}

.text {
  @include mainFont();
}

.drop-menu {
  @include fl_row();
  @include fl_al_space-btwn();
}

.drop-menu__icon {
  @include fl();
  @include fl_al_st();
}

.temp-block {
  @include mainFont();
  @include fl_row();
}

.temp-block__left {
  @include fl_col();
  align-items: flex-start;
  justify-content: end;
}

.temp-block__right {
  @include fl_row();
  @include fl_al_end();
  align-items: flex-end;
}